@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@import "variables";
@import "vuetify/styles/main.sass";
@import "override";
@import "layout/text";
@import "layout/container";
@import "layout/header";
@import "layout/footer";

/*components*/
@import "./components/VBreadcrumb";
@import "./components/VAlert";
@import "./components/VButtons";
@import "./components/VCard";
@import "./components/VCarousel";
@import "./components/VField";
@import "./components/VList";
@import "./components/VInput";
@import "./components/VNavigationDrawer";
@import "./components/VShadow";
@import "./components/VSwitch";
@import "./components/VSelectionControl";
@import "./components/VTextField";
@import "./components/VTextarea";
@import "./components/VTabs";
@import "./components/VTable";
@import "./components/VExpansionpanel";
@import "./components/VPagination";

//Corporate Demo
@import "demos/corporate";

.banner-wrapper {
  background-image: url("https://images.unsplash.com/photo-1436450412740-6b988f486c6b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  color: rgb(var(--v-theme-white));
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    z-index: 1;
  }
}

.banner-wrapper .content-word {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}


.banner-wrapper-page {
  background-image: url("https://images.unsplash.com/photo-1436450412740-6b988f486c6b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  color: rgb(var(--v-theme-white));
  // background-repeat: no-repeat;
  // background-position: center center;
  // background-size: cover;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    z-index: 1;
  }
}

.banner-wrapper-page .content-word {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}


.typewriter div {
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .1em solid rgb(13, 195, 13);
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation:
        typing 0.7s steps(40, end),
        blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: rgb(13, 195, 13);
    }
}

.decorationText {
  text-decoration: none;
}